.login-page {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Client Login */
  .client-login-page {
    background-color: #192F3C;
    margin: 0 auto;
    padding: 0;
  }
  
  .client-login-page .form-container {
    flex-direction: column;
    align-items: center;
  }


  .client-login-page .form-overlay {
    margin-top: -50px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client-login-page .login-logo {
    margin-top: 0; 
  }
  
  .login-logo {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-image img {
    width: 60vw;
    height: 100vh;
    object-fit: cover;
  }
  
  /* Admin Login */
  .admin-login-page {
    background: url("../../assets/images/loginbackground.png");
    background-size: cover;
  }
  
  .admin-login-page .form-image {
    display: none;
  }
  
  .admin-login-page .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: -200px; /* Move the form up */
  }
  
  .login-logo {
    max-width: 300px;
    margin-bottom: 20px; 
    margin-top: 200px;
  }

  