/* General Page Styling */
.login-page {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Form Container */
.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

/* Client Login */
.client-login-page {
    background-color: #192F3C;
    margin: 0 auto;
    padding: 0;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    height: 100vh; 
}

.client-login-page .form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

/* Logo Styling */
.client-login-page .login-logo {
    max-width: 300px;
    margin-bottom: 20px;
}

/* Image Styling */
.form-image img {
    width: 60vw;
    height: 100vh;
    object-fit: cover;
}

/* Admin Login */
.admin-login-page {
    background: url("../../assets/images/loginbackground.png");
    background-size: cover;
    background-position: center;
}

.admin-login-page .form-image {
    display: none;
}

.admin-login-page .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: -150px;
}

/* Default Logo Styling */
.login-logo {
    max-width: 300px;
    margin-bottom: 20px;
}

/* Admin Logo Custom Styling */
.admin-login-page .login-logo {
    margin-top: 200px; 
}

/* Client Logo Custom Styling */
.client-login-page .login-logo {
    margin-top: 10px; 
}

/* Media Queries for Responsiveness */

/* For screens between 600px and 768px */
@media (max-width: 768px) and (min-width: 600px) {
    .form-container {
        max-width: 300px;
    }

    /* Client Login */
    .client-login-page {
        background-color: #192F3C;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center; /* Center content horizontally */
        align-items: center;
    }
    
    .client-login-page .form-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    /* Logo Styling */
    .client-login-page .login-logo {
        max-width: 250px;
        margin-bottom: 20px;
    }
    
    /* Image Styling */
    .form-image img {
        width: 40vw;
        height: 100vh;
        object-fit: cover;
    }
    
    /* Admin Login */
    .admin-login-page {
        background: url("../../assets/images/loginbackground.png");
        background-size: cover;
        background-position: center;
    }
    
    .admin-login-page .form-image {
        display: none;
    }
    
    .admin-login-page .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        margin-top: -170px;
    }
    
    /* Default Logo Styling */
    .login-logo {
        max-width: 250px;
        margin-bottom: 20px;
    }
    
    /* Admin Logo Custom Styling */
    .admin-login-page .login-logo {
        margin-top: 200px; 
    }
    
    /* Client Logo Custom Styling */
    .client-login-page .login-logo {
        margin-top: -400px;
    }
}

/* For screens smaller than 600px (Mobile) */
@media (max-width: 600px) {
    .form-container {
        max-width: 100%;
    }

    /* Client Login */
    .client-login-page {
        background-color: #192F3C;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
    
    .client-login-page .form-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }
    
    /* Logo Styling */
    .client-login-page .login-logo {
        max-width: 200px;
        margin-bottom: 15px;
    }
    
    /* Image Styling */
    .form-image img {
        width: 80vw;
        height: auto;
        object-fit: cover;
    }
    
    /* Admin Login */
    .admin-login-page {
        background: url("../../assets/images/loginbackground.png");
        background-size: cover;
        background-position: center;
    }
    
    .admin-login-page .form-image {
        display: none;
    }
    
    .admin-login-page .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -100px;
    }
    
    /* Default Logo Styling */
    .login-logo {
        max-width: 200px;
        margin-top: -30px;
    }
    
    /* Admin Logo Custom Styling */
    .admin-login-page .login-logo {
        margin-top: 200px; 
    }
    
    /* Client Logo Custom Styling */
    .client-login-page .login-logo {
        margin-top: 0;
    }

    .form-image img {
        width:  80%;
        height: auto;
        padding-bottom: 30px;
    }
}