/* Introductory Section */

.work-container {
    width: 100%;
}
.work-intro {
    background-image: url("../../assets/images/card-dev.png");
    padding: 4rem 2rem;
    color: white;
    text-align: center;
}


.work-intro h1 {
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
}

.work-intro p {
    font-size: 1.25rem;
    margin-top: 1rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
    color: white;
}

/* Project Grid Section */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem;
}

.project-card {
    background: #192F3C;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: "Kode Mono", monospace;
    text-transform: uppercase;
    margin: 20px auto;
}

.project-card img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.project-card p {
    font-size: 1rem;
    margin: 1.5rem 0;
    color: white;
    font-family:"Inter", sans-serif;
}

.project-link {
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    background: #8BC4D9;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s ease;
    display: inline-block;
    width: 250px;
}

.project-link:hover {
    background: #F3A83C;
}

@media (max-width: 768px) and (min-width: 600px){
    .work-intro {
       padding: 2rem 2rem;
    }
    
    
    .work-intro h1 {
        font-size: 2rem;
    }
    
    .work-intro p {
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    /* Project Grid Section */
    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        padding: 1rem;
    }
    
    .project-card {
        padding: 0.5rem;
    }
    
    .project-card h3 {
        font-size: 1.2rem;
        margin: 10px auto;
    }
    
    .project-card img {
        width: 90%;
        height: 100px;
        margin: 0 auto;
    }
    
    .project-card p {
        font-size: 0.8rem;
        margin: 1rem 0;
    }
    
    .project-link {
        margin: 10px auto;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
        width: 100px;
    }
    
    .project-link:hover {
        background: #F3A83C;
    }
    
}

@media (max-width: 600px){

    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 1rem;
        padding: 1rem;
    }

     .work-intro h1 {
         font-size: 1.7rem;
     }

     
     .project-card {
         padding: 0.5rem;
     }
     
     .project-card h3 {
         font-size: 1.5rem;
         margin: 10px auto;
     }
     
     .project-card img {
         width: 90%;
         height: 100px;
         margin: 0 auto;
     }
     
     .project-card p {
         font-size: 0.8rem;
         margin: 1rem 0;
     }
     
     .project-link {
         margin: 10px auto;
         padding: 0.5rem 1rem;
         font-size: 0.7rem;
         width: 100px;
     }
     
     .project-link:hover {
         background: #F3A83C;
     }
}
