
.change-password-container {
    font-family: "Inter", sans-serif;
    background-color: #192F3C;
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
}

.modal-body, .modal-footer{
    background-color: #192F3C !important;
    border: none;
}

.modal-header {
    border: none;
}

.change-password-container h2 {
    font-family: "Kode Mono", monospace;
    color: #F3DCB2;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* Form Styles */
.change-password-container .form-group {
    margin-bottom: 1.5rem;
}

.change-password-container .form-group label {
    font-weight: normal;
    color: #F3DCB2;
    padding-top: 10px;
    display: block;
}

.change-password-container .form-control {
    border-radius: 0%;
    border: 1px solid #192F3C;
    padding: 0.8rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Error Message */
.change-password-container .error-message {
    color: #841B13;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    text-align: center;
}

/* Button Styles */
.change-password-container .dash-submit-button {
    background: #F3A83C !important;
    color: white;
    border-radius: 0%;
    border: none;
    width: 100%;
    margin-top: 1rem;
}

.change-password-container .dash-submit-button:hover {
    background: #F3DCB2;
    color: #192F3C;
    border-radius: 0%;
}

/* Close Button */
.change-password-container .dash-close-button {
    background-color: #841B13;
    color: white;
    border-radius: 0%;
    border: none;
    margin-top: 1rem;
    width: 100%;
}

.change-password-container .dash-close-button:hover {
    background-color: #841B13 !important;
    color: white;
    scale: 1.025;
}
