.body {
    font-family: "Inter", sans-serif !important;
}

/* Main Dashboard Styles */

.welcome-text {
    font-family: "Inter", sans-serif;
    color: #192F3C;
    padding: 1rem;
}


.main-card {
    border-radius: 0% !important;
    margin-bottom: 2rem;
}

.client-card {
    border-radius: 0% !important;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D952;
    border: none;
    border-radius: 0% !important;
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;

}

.add-button {
    background-color: #192F3C;
    color: #8BC4D9;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
    border: none;
}

.dashboard-button {
    background-color: #192F3C;
    color: #8BC4D9;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
    border: none;
    margin-top: 10px;
}

.add-button:hover {
    background-color: #8BC4D9;
    color: #192F3C;
}

.dashboard-button:hover {
    background-color: #8BC4D9;
    color: #192F3C;
}


/* Card Styles */

.card {
    border-radius: 0%;
    padding: 20px;
    margin:10px;
}

/* Modal Popup Styles */

.modal-header {
    background-color: #8BC4D9;
    color: #192F3C;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
}

.modal-body, .modal-content {
    color: #192F3C;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
    border: none;
}

.form-control {
    border-radius: 0%;
}

.form-label {
    padding-top: 10px;
}

.submit-button {
    background: #F3A83C;
    border-radius: 0%;
}

.submit-button:hover {
    background: #F3DCB2;
    border-radius: 0%;
}



/* Upcoming Project */

.upcoming {
    background-color: #8BC4D9;
    color: #192F3C;
}

.upcoming .edit {
    color: #192F3C;
}

/* In Progress Project */

.in-progress {
    background-color: #F3DCB2;
    color: #841B13;
}

.in-progress .edit {
    color: #841B13;
}

/* Client Review Project */

.client-review {
    background-color: #192F3C;
    color: #8BC4D9;
}

.client-review .edit {
    color: #8BC4D9;
}

/* Action Feedback Project */

.action-feedback {
    background-color: #F3A83C;
    color: #192F3C;
}

.action-feedback .edit {
    color: #192F3C;
}

/* Complete Project */

.complete {
    background-color: #A7CF81;
    color: #192F3C;
}

.complete .edit {
    color: #192F3C;
}

/*  On Hold Project */

.on-hold {
    background-color: #F1968F;
    color: #841B13;
}

.on-hold.edit {
    color: #841B13;
}

/* Delete Button */

.delete {
    background-color: #841B13;
    color: white;
    border-radius: 0%;
}

.delete:hover {
    background-color: #841B13;
    scale: 1.025;
    color: white;
}



