.body {
    font-family: "Inter", sans-serif !important;
}

/* Header Styles */

.header {
    background-color: #192F3C !important;
    color: white;
    font-family: "Kode Mono", monospace;
    text-transform: uppercase;
    border: none;
    padding: 2rem 2.5rem;
    --cui-header-color: white;
    --cui-body-font-family: "Inter", sans-serif;
}

.header-text {
    color: #F3DCB2;
    font-size: 2rem;
}

.header-nav {
    margin: 0;
    width: 200px;
}

.header-text:hover {
    color: #F3DCB2;
}

.profile,
.logout {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: #192F3C;
    background-color: transparent !important;
    padding: 0;
    margin: 0;
}

.profile-icon {
    color: #F3A83C;
}

/* Sidebar Styles */

.sidebar {
    background-color: #192F3C;
    height: 150vh;
    border: none;
}

.sidebar-text {
    color: #8BC4D9 !important;
}

.sidebar-nav,
.nav-link {
    color: white !important;
    border: none;
    box-shadow: none;
}

.sidebar-nav,
.nav-link:hover {
    color: #F3A83C !important;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.sidebar-nav .nav-group-toggle::after {
    --cui-sidebar-nav-group-indicator-color: #8BC4D9 !important;
}

.sidebar-button {
    background: #F3DCB2;
    border: none;
    border-radius: 0%;
    color: #F3A83C;
    font-family: "Inter", sans-serif;
}

.sidebar-button:hover {
    background: #F3A83C;
    border: none;
    border-radius: 0%;
    color: #F3DCB2;
}

li {
    background: #192F3C;
    margin: 0 auto;
    padding: 0;
    border-radius: 0x;
    border: none;
    box-shadow: none;
}

/* Main Dashboard Styles */

.welcome-text {
    font-family: "Inter", sans-serif;
    color: #192F3C;
    padding: 1rem;
}


.main-card {
    border-radius: 0% !important;
    margin-bottom: 2rem;
}

.client-card {
    border-radius: 0% !important;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D952;
    border: none;
    border-radius: 0% !important;
    font-family: "Kode Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;

}

.add-button {
    background-color: #192F3C;
    color: #8BC4D9;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
    border: none;

}

.add-button:hover {
    background-color: #8BC4D9;
    color: #192F3C;
}

/* Card Styles */

.card {
    border-radius: 0%;
    padding: 20px;
    margin:10px;
}

/* Modal Popup Styles */

.modal-header {
    background-color: #8BC4D9;
    color: #192F3C;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
}

.modal-body, .modal-content {
    color: #192F3C;
    font-family: "Inter", sans-serif;
    border-radius: 0%;
    border: none;
}

.form-control {
    border-radius: 0%;
}

.form-label {
    padding-top: 10px;
}

.submit-button {
    background: #F3A83C;
    border-radius: 0%;
}

.submit-button:hover {
    background: #F3DCB2;
    border-radius: 0%;
}



/* Upcoming Project */

.upcoming {
    background-color: #8BC4D9;
    color: #192F3C;
}

.upcoming .edit {
    color: #192F3C;
}

/* In Progress Project */

.in-progress {
    background-color: #F3DCB2;
    color: #841B13;
}

.in-progress .edit {
    color: #841B13;
}

/* Client Review Project */

.client-review {
    background-color: #192F3C;
    color: #8BC4D9;
}

.client-review .edit {
    color: #8BC4D9;
}

/* Action Feedback Project */

.action-feedback {
    background-color: #F3A83C;
    color: #192F3C;
}

.action-feedback .edit {
    color: #192F3C;
}

/* Complete Project */

.complete {
    background-color: #A7CF81;
    color: #192F3C;
}

.complete .edit {
    color: #192F3C;
}

/*  On Hold Project */

.on-hold {
    background-color: #F1968F;
    color: #841B13;
}

.on-hold.edit {
    color: #841B13;
}

/* Delete Button */

.delete {
    background-color: #841B13;
    color: white;
    border-radius: 0%;
}

.delete:hover {
    background-color: #841B13;
    scale: 1.025;
    color: white;
}

